ConsoleApp1/dane.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://moje.dane.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" name="Author" type="xs:string" />
				<xs:element minOccurs="1" name="Title" type="xs:string" />
				<xs:element minOccurs="1" name="Year" type="xs:unsignedShort" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>